@font-face {
  font-family: 'BTitr';
  src: url('/btitr.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* اعمال به کل پروژه */
* {
  font-family: 'BTitr', Tahoma, Arial, sans-serif !important;
}

/* اصلاح نمایش اعداد در فونت تیتر (اختیاری) */
input {
  font-family: 'BTitr', Tahoma, Arial, sans-serif !important;
}
